html, body {
<<<<<<< HEAD
=======
  margin: 0;
  padding: 0;
>>>>>>> dc482ece60c33e1931952887d7cc17b9e3e939f3
  background-color: black;
  overflow: hidden;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
